.content{
    padding-top: 10px;
}
.row{
    display: flex;
    gap: 8px;
    mat-form-field{
        width: 100%;
    }

}

.mat-mdc-radio-button ~ .mat-mdc-radio-button {
    margin-left: 16px;
  }

.action{
    padding: 0px 25px 10px;
    button{
        flex :1;
    }
}